.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Optional: Set container height to fit the viewport */
  }
  
.button-wrapper {
  display: flex;
  justify-content: center;
}
  
button {
  margin: 5px;
}

.response {
  position: absolute;
  bottom: 0;
  left: 50%;
  bottom: 15%;
  font-size: 40px;
  transform: translateX(-50%);
}

/* For the on hover effect in js script, this is the base change for the background */
/* More detailed background modification will be added later. */
body {
  transition: background-color 0.5s ease; /* Adjust the duration and easing function to suit your needs */
}
